*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

input,button{
  appearance: none;
  background:none;
  outline: none;
  border:none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

form{
  display: block;
  position: relative;
}

form:after{
  content:'';
  display:block;
  position: absolute;
  top:-5px;
  left:-5px;
  bottom:-5px;
  right:-5px;
  z-index:1;
  background-image: linear-gradient(to bottom right, #DD5E89, #F7BB97);
}

form .form-inner{
  position: relative;
  display: block;
  background-color:rgb(170, 170, 173);
  padding:30px;
  z-index: 2;
  font-weight: 800;

}

form .form-inner h2,h3{
  color:#000;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color:#000;
  font-size: 22px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label{
  color:#fe3400;
}

form .form-inner .form-group input,
.welcome input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color:#dbc5cd;
  border-radius: 8px;
  transition: 0.4s;
  font-size: 22px;
  font-weight: 800;
}

form .form-inner .form-group input:focus{
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.form-inner .error{
  color:red
}
form .form-inner input[type="submit"],
.welcome button
{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color:#fff;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
.welcome button:hover
{
  background-position: 100% 0%;
}

.welcome{
  width: 100%;
  background-color: #fff;
  padding: 15px 30px;
  height: 600px;
}

.welcome h2{
  color: #000;
  font-size:28px;
  font-weight: 800;
  margin-bottom: 30px;
}

.welcome h2 span{
  color : #DD5E89;
  font-weight: 800;
}

.welcome .logout{
left: 300px;
margin-left: 1100px;
}

.welcome .search{
  margin-left: 500px;
  max-width: 400px;
}

table{
  width: 300px;
}

img{    
  width: 300px;
  height: 300px;
}


label{
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.welcome h4{
  margin-left: 500px;
}